{% extends 'base.html' %}
{% load cart_functionalities %}
<!DOCTYPE html>
<html lang="en">
{% csrf_token %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
</head>
<style type="text/css">
    body {
        margin: auto;
        padding: 0;
        font-family: sans-serif;
        /* background: linear-gradient(to right, #de6262, #ffb88c); */
        background: linear-gradient(#a1c4fd, #c2e9fb);

    }
</style>

<body>
    {% block nav %}
    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-lg-3 mt-4 mx-auto">
                <div class="list-group">
                    {% for c in categories%}
                    <a href="/?categoryid={{c.id}}" class="list-group-item list-group-item-action">{{c.name}}</a>
                    {% endfor %}
                </div>
            </div>
            <div id='products' class="col-lg-9 mx-auto">
                <div class="row mx-auto">
                    {% for p in products %}
                    <div class="card mx-auto mb-6 mt-4" style="width: 20rem;">
                        <a href="/product_management/show_product_details/?productid={{p.id}}"><img
                                src="{{p.image.url}}" class="card-img-top mt-5" alt="..." height="300px">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{p.product_name}}</h5>
                            <p class="card-text">{{p.description}}</p>
                            <p class="card-text"><strong>₹ {{p.price}}</strong></p>
                            <a href="/product_management/show_product_details/?productid={{p.id}}"
                                class="btn btn-primary mb-3">Show More Details</a>
                            <div class="card-footer nu-gutters p-0 mt-3">
                                {% if p|is_present_in_cart:request.session.cart %}
                                <div class="row nu-gutters">
                                    <form action="/cart_management/remove_from_cart" class="col-2" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="productid" value="{{p.id}}">
                                        <!-- <input type="hidden" name="reduce_quantity" value="True"> -->
                                        <input type="submit" value="-" class="btn btn-block btn-warning">
                                    </form>
                                    <div class="text-center col">{{ p|show_quantity:request.session.cart }}</div>
                                    <form action="/cart_management/add_to_cart" class="col-2" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="productid" value="{{p.id}}">
                                        <input type="hidden" name="increase_quantity" value="True">
                                        <input type="submit" value="+" class="btn btn-block btn-warning">
                                    </form>
                                </div>
                                {% else %}
                                <form action="/cart_management/add_to_cart" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="productid" value="{{p.id}}">
                                    <input type="submit" class="btn btn-danger form-control" value="Add to Cart"><i
                                        class="fas fa-shopping-cart"></i>
                                </form>
                                {% endif %}
                            </div>


                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>

</html>