{% extends 'base.html' %}
{% load cart_functionalities %}
{% block nav %}

<div class="bg">
    <div class="container-fluid">
        <div class="row">
            <div id='products' class="col-lg-10 mx-auto">
                <div class="row mx-auto">
                    {% for p in products %}
                    <div class="card mx-auto mb-6 mt-4" style="width: 20rem;">
                        <a href="/product_management/show_product_details/?productid={{p.id}}"><img
                                src="{{p.image.url}}" class="card-img-top mt-5" alt="..." height="300px">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{p.product_name}}</h5>
                            <p style="color: black">{{p.description}}</p>
                            <p class="card-text"><strong>₹ {{p.price}}</strong></p>
                            <a href="/product_management/show_product_details/?productid={{p.id}}"
                                class="btn btn-primary mb-3">Show More Details</a>
                            <div class="card-footer nu-gutters p-0 mt-3">
                                {% if p|is_present_in_cart:request.session.cart %}
                                <div class="row nu-gutters">
                                    <form action="/cart_management/remove_from_cart" class="col-2" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="productid" value="{{p.id}}">
                                        <input type="submit" value="-" class="btn btn-block btn-warning">
                                    </form>
                                    <div class="text-center col">{{ p|show_quantity:request.session.cart }}</div>
                                    <form action="/cart_management/add_to_cart" class="col-2" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="productid" value="{{p.id}}">
                                        <input type="hidden" name="increase_quantity" value="True">
                                        <input type="submit" value="+" class="btn btn-block btn-warning">
                                    </form>
                                </div>
                                {% else %}
                                <form action="/cart_management/add_to_cart" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="productid" value="{{p.id}}">
                                    <input type="submit" class="btn btn-danger form-control" value="Add to Cart"><i
                                        class="fas fa-shopping-cart"></i>
                                </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}