body {
  background-image: linear-gradient(to right, #e8dbfc, #f8f9d2);
  font-family: "Georgia", Times, serif;
}
.box {
  width: 500px;
  padding: 40px;
  position: center;
  top: 50%;
  left: 50%;
  bottom: 50%;
  margin: auto;
  background: #3a3b3c;
  text-align: center;
  margin-top: 70px;
  transition: 1s;
  margin-bottom: 100px;
}
.box:hover {
  background: #191919;
}
.box input[type="text"],
.box input[type="textbox"],
.box input[type="email"],
.box input[type="password"],
.box input[type="radio"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 10px 10px;
  width: 250px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.box a {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box h2 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type="email"]:focus,
.box input[type="textbox"]:focus,
.box input[type="text"]:focus,
.box input[type="password"]:focus {
  width: 300px;
  border-color: #2ecc71;
}
.box label {
  float: left;
  clear: none;
  display: block;
  padding: 0px 1em 0px 8px;
}
.rad {
  color: white;
}
.box input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.box input[type="submit"]:hover {
  background: #2ecc71;
}

p {
  color: white;
  text-transform: uppercase;
}
