<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'abcd.css' %}">
    <title>Login</title>

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    {% if supplier %}
                    <form class="box" action="/accounts/supplierlogin" method="post">
                        {% csrf_token %}
                        {% else %}
                        <form class="box" action="/accounts/login" method="post">
                            {% endif %}
                            {% if loginrequired %}
                            <font color="red">You must be logged in to continue further</font>
                            {% endif %}
                            {% csrf_token %}
                            {% if invalidcredentials %}
                            <font color="red">Invalid Credentials.<br>Please login again.</font>
                            {% endif %}
                            <h1>Login</h1>
                            <p> Please enter your Username and password!</p> <input type="text" name="uname"
                                placeholder="Username"> <input type="password" name="pass" placeholder="Password">
                            <input type="submit" name="submit" value="Login!">
                            {% if supplier %}
                            {% else %}
                            <p>Don't have an account ? Register <a href="/accounts/signup">here</a></p>
                            {% endif %}
                        </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>