{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'abcd.css'%}">
    <title>Update</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <form class="box" action="{% url 'update' %}" method="post">
                        {% csrf_token %}
                        <h1>Update Information!</h1>
                        <p>Change the details which you want to</p>
                        <input type="email" value="{{customer.user.email}}" name="nemail">
                        <input type="text" name="phoneno" value="{{customer.phoneno}}" placeholder="Phone number">
                        <input type="textbox" name="naddress" value="{{customer.address}}" placeholder="Addresss">
                        <input type="password" name="pass" placeholder="Current Password">
                        <input type="submit" name="submit" value="Update!" href="#">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>