{% extends 'base.html' %}
{% load cart_functionalities%}
{% load promocodes %}

{% block nav %}
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity in cart</th>
                <th scope="col">Total Price</th>
                <th scope="col">Image</th>
            </tr>
        </thead>
        <tbody>
            {% for product in cart %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{product.product_name}}</td>
                <td>₹{{product.price}}</td>
                <td>{{ product|show_quantity:request.session.cart }}</td>
                <td>₹{{ product|getProductsPrice:request.session.cart }}</td>
                <td><img src="{{product.image.url}}" style="width:80px; height:100px;"></td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="6" align="center">
                    Total Amount : ₹{{cart|getfinalamount:request.session.cart}}
                </td>
            </tr>
        </tbody>
    </table>
    <a href="/cart_management/checkout" class="btn btn-outline-primary" align="center">Checkout</a>
</div>
{% endblock %}