{% extends 'base.html' %}
{% load cart_functionalities %}
{% block nav %}
<div align="center" class="mt-4">
    <img src="{{product.image.url}}" alt="..." height="300px">
    <table>
        <tr>
            <td>
                <h4>Name : {{product.product_name}}</h4>
            </td>
        </tr>
        <tr>
            <td>
                <h4>Price : {{product.price}}</h4>
            </td>
        </tr>
        <tr>
            <td>
                <h4>Description : {{product.description}}</h4>
            </td>
        </tr>
        <tr>
            <td>
                {% if product|is_present_in_cart:request.session.cart %}
                <div class="row nu-gutters">
                    <form action="/cart_management/remove_from_cart" class="col-2" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="productid" value="{{product.id}}">
                        <input type="submit" value="-" class="btn btn-block btn-warning">
                    </form>
                    <div class="text-center col">{{ product|show_quantity:request.session.cart }}</div>
                    <form action="/cart_management/add_to_cart" class="col-2" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="productid" value="{{product.id}}">
                        <input type="hidden" name="increase_quantity" value="True">
                        <input type="submit" value="+" class="btn btn-block btn-warning">
                    </form>
                </div>
                {% else %}
                <form action="/cart_management/add_to_cart" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="productid" value="{{product.id}}">
                    <input type="submit" class="btn btn-danger form-control" value="Add to Cart"><i
                        class="fas fa-shopping-cart"></i>
                </form>
                {% endif %}
            </td>
        </tr>
    </table>
</div>
{% endblock %}